[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wgconfig = "==0.3.0"
termcolor = "==2.4.0"
netifaces2 = "==0.0.22"

[requires]
python_version = "3"

[dev-packages]
