name: Generate release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: read

jobs:      
  release:
    runs-on: ubuntu-latest
    steps:
      - name: "Create release"
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          
