name: Generate release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: read

jobs:      
  release:
    runs-on: ubuntu-latest
    steps:
      - name: "Create release"
        uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0" # v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          
